# Python Data Types

A **data type** is a **value** or a **class** in Python.
For example, you can think of a **data type** as a **value** or a **class** which represents all numbers.

A program simply instructs the computer to _store information_ (more specifically, the data type) and _modify that information_ to achieve an output.
So we are basically taking actions on these data types.

The two crucial steps on learning a programming language are:

    1. Understanding the data types that exist in the language
    2. Learning how we can manipulate, create, store, read, change or remove a data.

python has 3 kinds of data types:
1. fundamental
2. custom (classes)
3. special (modules)

The fundamental data types are core to the language. In python they can be classified as: 
1. numerical (int, float, complex, bool)
2. sequence (list, tuple, set, string, range)
3. dictionary (dict)

# 1. Fundamental Data Types

## 1.1 numeric data types

### 1.1.1 int

In [2]:
#int stands for integer
num1=4
type(num1)

int

### 1.1.2 float

In [3]:
#float stands for floating point number
num2=5.9
type(num2)

float

### 1.1.3 complex

In [8]:
num3=5+7j #here j is square root of -1
type(num3)

complex

#### Extras1: conversions

In [9]:
a=5.66
b=int(a)
type(b)

int

In [10]:
c=float(b)
c

5.0

In [11]:
k=7
i=complex(b,k)
i

(5+7j)

In [12]:
type(i)

complex

### 1.1.4 bool

In [13]:
#bool stands for boolean types
b>k

False

In [14]:
bool=b<k
bool

True

In [15]:
type(bool)

bool

In [17]:
int(True)

1

In [18]:
int(False)

0

## 1.2 sequence data types

### 1.2.1 list

In [24]:
#lists are similar to arrays: a collection of items.
li1=[1,2,3,4,5]
li2=['notebook','sunglasses','chocolates']
li3=[1,2,'a',True]

In [25]:
li2[0]

'notebook'

In [27]:
type(li1)

list

In [28]:
#lists are mutable: we can make changes in a list
li3[3]=False
li3

[1, 2, 'a', False]

In [30]:
li1[0:3]

[1, 2, 3]

In [31]:
li1[0::4]

[1, 5]

### 1.2.2 tuple

In [2]:
t=(25,23,66,34)
type(t)

tuple

In [27]:
#tuples are like lists but unlike lists we cannot modify them. They are immutable.
t[1]='z'

TypeError: 'tuple' object does not support item assignment

In [28]:
t[1]

23

In [29]:
23 in t

True

### 1.2.3 set

In [ ]:
#unordered collection of unique objects
s={25,23,66,34}
type(s)

In [30]:
s

{23, 25, 34, 66}

In [31]:
s1={25,23,66,66,34}
s1

{23, 25, 34, 66}

In [41]:
s.add(100)
s

{23, 25, 34, 66, 100}

In [39]:
s.add(66)
s

{23, 25, 34, 66, 100}

In [44]:
s1[1]

TypeError: 'set' object is not subscriptable

In [45]:
66 in s1

True

#### Extras

In [43]:
#find out unique subjects
subject_list=[101,101,111,112,113,113]
set(subject_list)

{101, 111, 112, 113}

### 1.2.4 string

In [4]:
name="Prajna"
type(name)

str

#### Extras

In [48]:
long_string='''
Treatment A
  (N=xxx)
'''
print(long_string)

Treatment A
  (N=xxx)

In [49]:
type(long_string)

str

In [51]:
STUDYID='ABC123'
SITEID='01'
SUBJID='001'
USUBJID=STUDYID+SITEID+SUBJID
USUBJID

'ABC12301001'

In [52]:
USUBJID=STUDYID + '-' + SITEID + '-' + SUBJID
USUBJID

'ABC123-01-001'

### 1.2.5 range

In [24]:
#range creates objects that we can iterate over
r1=range(10)
r1

range(0, 10)

In [25]:
type(r1)

range

#### Extras

In [26]:
 list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#all even number in 0 to 10
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [59]:
for num in range(0,10):
 print(num)

0
1
2
3
4
5
6
7
8
9

In [60]:
for num in range(0,10):
 print("Visit Day 95")

Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95
Visit Day 95

## 1.3 Dictionary

A dictionary is an unordered key value pair where the key is a string to grab the value.

In [8]:
d1={
    'a': 1,
    'b': 2
}
type(d1)

dict

In [9]:
d1['b']

2

In [10]:
d2={
    'a': [1,2,3],
    'b': "hello",
    'x': True
}
type(d2)

dict

In [11]:
d2['a']

[1, 2, 3]

In [12]:
d2['a'][1]

2

#### Extras

In [15]:
ex1=[
    {
    'a': [1,2,3],
    'b': "hello",
    'x': True
    },
    {
    'a': [4,5,6],
    'b': "hello",
    'x': True
    }
]

In [16]:
type(ex1)

list

In [17]:
print(ex1[0]['a'])

[1, 2, 3]

In [18]:
print(ex1[1]['a'][2])

6

# Custom types

Beyond these fundamental data types, we can actually create our own using _**classes**_. 

classes

So, I can create a class which doesn't exist and I can name it whatever I want, for example, **super car**.

# Specialized data types

Besides the fundamental data types and the custom types, we have **specialized data types** which can be considered as extensions that we can add to the language.

They are not built into Python, but they are special packages and modules that we can use from libraries.

So whenever we don't have a data type in the standard Python package and also we don't want to create our own custom types there are specialized data types that we can use from modules.

Modules

# Another special data type

### None

As the name suggests, it means nothing. It's kind of like the idea of zero in math or Null in SAS and other languages. It is the absence of value.

In [56]:
data=None
print(data)

None

In [57]:
type(data)

NoneType